.day-active
	.main-content
		transform translateY(-250px)
		transition transform 500ms ease-out
		transition-delay 600ms

.main-content 
	position relative
	margin 0
	z-index 5
	background white
	color #333
	top 100%
	transform translateY(0)
	transition transform 500ms ease-out
	// text-align left
	.container
		max-width 1280px
		position relative
		margin 0 auto
		padding-top 60px
	.intro 
		padding 60px 0
		display block
	.day 
		font-weight 800
		font-size 0.8em
		padding-bottom 40px
		letter-spacing 0.3em
		text-transform uppercase
		text-align center
	.title 
		font-family 'Abril Fatface'
		font-size 4em
		text-align center
	.info-container 
		padding-top 80px
		overflow auto
	.info-label 
		font-weight 700
		display block
		font-size 0.8em
		text-transform uppercase
		letter-spacing 0.1em
	.info-text
		margin-top 20px
		display block
		color #bbb
		font-weight bold
		text-transform uppercase
		font-size 0.9em
		letter-spacing 0.1em
	
	.images-container 
		text-align left
		clear both
		.image-section 
			position relative
			width 100%
			clear both
			overflow auto
			.image-container 
				position relative 
				float left
				width 50%
				&:after 
					content ''
					z-index 10
					position absolute 
					width 100%
					height 100%
					background rgba(0, 0, 0, 0.2)
					top 0
					left 0
			.image
				width 100%
				margin 0
				display block
			.image-caption
				position absolute
				line-height 2em
				font-weight 700
				float left
				top 50%
				width 50%
				z-index 5
				color #555
				padding 6vw
				font-size 1.4vw
				letter-spacing 0.05em
				transform translateY(-50%)
			&.right 
				.image-container 
					float right 
				.image-caption
					padding-right 40px
					text-align right 
					float left 
					left 0
			&.left 
				.image-container 
					float left 
				.image-caption
					padding-left 40px
					text-align left 
					float right
					left 50%
