.cto-title
  position absolute
  width 200%
  top 50%
  left 50%
  opacity 0
  z-index 10
  transform-origin 50% 50%
  transform translate(-50%, -50%)
  transform translate3d(-50%, -50%, 0) scale(0.35)