.screenings-container 
	position relative 
	width 100%
	height 100vh
	background url('/img/day-3-1.jpg') no-repeat center center 
	background-size cover
	.overlay
		position absolute 
		height 100%
		width 100%
		left 0
		top 0
		z-index 0
		background rgba(0, 0, 0, 0.8)
	
	.screenings-content 
		position relative
		z-index 2
		max-width 1280px 
		margin 0 auto
	h1 
		text-align center 
		text-transform uppercase 
		letter-spacing 0.3em
		font-weight 800
		font-size 1.2em
	.screening-item 
		position relative
		width 50%
		height 100vh
		float left
		.inner 
			position absolute 
			top 50%
			transform translateY(-50%)
		.date 
			font-weight 900
			display inline-block
			text-transform uppercase 
			color white
			letter-spacing 0.2em
			font-size 0.8em
			margin-bottom 50px
		.location
			font-family 'Abril Fatface'
			font-size 3em