.people-list 
	width 100%
	height 100vh
	overflow-y scroll
	transform translate3d(0, 0, 0)
	.person 
		position relative
		padding-bottom calc(100% / 4)
		width calc(100% / 4)
		height 0
		float left
		overflow hidden
		img 
			width 100%
			transform scale(1) translate3d(0, 0, 0)
			transition transform 10000ms ease
		.person-info
			position absolute 
			z-index 4
			bottom 10px
			left 20px
		.name, .job-title
			display block
			text-transform uppercase
			font-weight bold
			letter-spacing 0.2em
		.job-title 
			font-size 0.6em
			font-style italic
		&:after 
			content ''
			position absolute
			display block 
			z-index 4
			width 100%
			height 100%
			top 0
			left 0
			background rgba(0, 0, 0, 0.5)
			transition background 250ms ease-in
		&:hover 
			img 
				transform scale(1.05)
				transition transform 10000ms ease
			&:after 
				background rgba(0, 0, 0, 0)
				transition background 300ms ease-out
