.cto-home.day-active 
  overflow-y scroll
  background white
  transform translate3d(0, 0, 0)
  .overlay 
    background rgba(10, 10, 10, 0)
    transform translateY(-100px)
    transition background 250ms ease-in, transform 500ms ease-in-out
    transition-delay 600ms
  .bg-image-container 
    transform translate(0, -100px)
    transform translate3d(0, -100px, 0)
    transition transform 500ms ease-in-out
    transition-delay 600ms

.cto-home
  position relative
  width 100%
  height 100vh
  text-align center
  .bg-image-container
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    bottom 0
    right 0
    z-index 0
    overflow hidden
    background black
    transiton translate(0, 0)
    transiton translate3d(0, 0, 0)
    transition transform 500ms ease-out
  .bg-image
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    bottom 0
    right 0
    background url('/img/day-1.jpg') no-repeat center center
    background-size cover
    &.primary 
      z-index 1
    &.fade-in
      animation fadeIn both 500ms
  .overlay
    background rgba(10, 10, 10, 0.6)
    position absolute
    width 100%
    height 100%
    left 0
    top 0
    bottom 0
    right 0
    z-index 1
    transform translateY(0px)
    transition background 250ms ease-in, transform 500ms ease-out
  .cto-logo
      position relative
      text-transform uppercase
      letter-spacing 0.3em
      display inline-block
      font-weight bold
      padding 20px
      z-index 3
  .cto-home-content
    position absolute
    text-align left
    top 50%
    left 20%
    z-index 2
    transform translateY(-50%)
    .day 
      font-weight 800
      font-size 0.8vw
      padding-bottom 20px
      letter-spacing 0.3em
      text-transform uppercase
      transform translate(0, 110%)
    .title
      font-family 'Abril Fatface'
      font-size 4vw
      transform translate(0, 110%)
      &.move-out, &.move-in
        animation-delay 100ms
    .title-wrap 
      margin-bottom 40px
    .explore-button
      position relative
      outline none
      background transparent 
      border 2px solid white
      padding 15px 30px
      color white
      text-transform uppercase 
      font-weight 900
      letter-spacing 0.2em
      cursor pointer
      overflow hidden
      transform translate(0, 110%)
      &.move-out, &.move-in
        animation-delay 150ms
      .button-text
        position relative
        z-index 2
        transition color 150ms ease-in
      .button-inner 
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        z-index 1
        background white
        transform-origin 50% 50%
        transform rotate(-45deg) scaleY(0)
        transition transform 250ms ease-out
      &:hover, &.active
        .button-text 
          color #222
          transition color 150ms ease-in
        .button-inner 
          transform rotate(-45deg) scaleY(5)
          transition transform 250ms ease-out
    .move-in
      animation moveIn both 400ms 
      animation-timing-function ease-out
    .move-out 
      animation moveOut both 300ms
      animation-timing-function ease-in
      
@keyframes moveIn {
  0% {
    transform translate(0, 110%)
  }
  100% {
    transform translate(0, 0)
  }
}

@keyframes moveOut {
  0% {
    transform translate(0, 0)
  }
  100% {
    transform translate(0, -110%)
  }
}

@keyframes fadeIn {
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }
}
