*
  box-sizing border-box
  font-family 'Aktiv Grotesk'
  -webkit-overflow-scrolling touch

body, html
  background rgb(20, 20, 20)
  overflow hidden
  color white
  height 100vh
  width 100%
  padding 0
  margin 0

h1, h2, h3, h4, h5, h6
  margin 0
  padding 0
  
.third 
  width calc(100% / 3)
  float left
.half 
  width calc(100% / 2)
  float left
.fourth 
  width calc(100% / 4)
  float left
.fifth
  width calc(100% / 4)
  
.content-container
  position relative
  width 100%
  height 100vh
  transform translate(0, 0)
  transform translate3d(0, 0, 0)
  transition transform 400ms ease-in-out

.nav--open 
  .content-container
    transform translate(100px, 0)
    transform translate3d(100px, 0, 0)
    transition transform 450ms ease-in-out
    
.overflow-wrap 
  overflow hidden
