.nav-overlay 
  position absolute
  width 100%
  height 100%
  background rgba(10, 10, 10, 0)
  top 0
  left 0
  z-index 5
  left -100%
  transition background 400ms ease
  
.nav--open
  .nav-overlay
    left 0
    background rgba(10, 10, 10, 0.8)
    transition background 400ms ease

#main-nav
  position absolute
  background white
  height 100vh
  width 400px
  margin 0
  padding 0
  top 0
  left 0
  z-index 10
  padding 20px
  color #777
  transform translate(-400px, 0)
  transform translate3d(-400px, 0, 0)
  transition transform 300ms ease-in-out
  .nav-logo
    display block
    width 70%
    margin 20px auto
  ul
    list-style none
    margin 0
    padding 0
    width 100%
    margin-top 50px
    text-align center
    li 
      font-family 'Abril Fatface'
      letter-spacing 0.05em
      padding 20px 0
      font-size 2em
      cursor pointer
      transition color 150ms ease-in-out
      a 
        color inherit 
        font-family inherit 
        text-decoration none
      &:hover 
        color red
        transition color 150ms ease-in-out
  .social 
    position absolute 
    left 50%
    bottom 20px
    transform translateX(-50%)
    font-size 1.5em
    i 
      margin 0 15px
    
    
.nav--open 
    #main-nav 
      transform translate(0, 0)
      transform translate3d(0, 0, 0)
      transition transform 350ms cubic-bezier(.05,.44,.02,.89)
      
