.nav-icon 
	position absolute 
	padding 20px
	z-index 10
	background rgba(120, 120, 120, 0.7)
	transition background 200ms ease-out, transform 300ms ease-in-out
	.inner 
		position relative
		width 30px
		height 20px
	.bar 
		position absolute
		background white
		display block
		width 100%
		height 2px
		left 0
		top 50%
		transform-origin 0 0
		transform scaleX(1)
		transition transform 100ms ease-out
		&:nth-of-type(1)
			transform translate(0, -12px)
		&:nth-of-type(2)
			transform scaleX(0.75)
		&:nth-of-type(3)
			transform translate(0, 12px)
	&:hover 
		background rgba(80, 80, 80, 0.7)
		transition background 200ms ease-out, transform 300ms ease-in-out
		.bar
			&:nth-of-type(1)
				transform scaleX(0.75) translate(0, -12px)
				transition transform 70ms ease-in
			&:nth-of-type(2)
				transform scaleX(1) 
				transition transform 70ms ease-in
			&:nth-of-type(3)
				transform scaleX(0.75) translate(0, 12px)
				transition transform 70ms ease-in

.nav--open 
		.nav-icon
			transform translate(400px, 0)
			transform translate3d(400px, 0, 0)
			transition transform 350ms cubic-bezier(.05,.44,.02,.89)
			
@keyframes barOne {
	0% {

	}
}