.pager 
	position absolute 
	right 20px
	top 50%
	z-index 5
	transform translateY(-50%)
	transition all 250ms ease-in
	.pager-item 
		position relative
		padding 6px 0
		&:hover, &.active 
			.pager-bar
				transform scaleX(1.15)
				transition transform 200ms ease-out
			.day-label 
				opacity 1
				color #777
				transform translate(-20%, -50%)
				transition all 200ms ease-out
		&.active 
			.pager-bar 
				transform scaleX(1.2)
			.day-label 
				color white
				opacity 1
				transform translate(-50%, -50%)
			
	.pager-bar 
		display block
		width 50px
		height 2px 
		background white
		transform-origin 100% 100%
		transform scaleX(1)
		transition transform 200ms ease-out
	.day-label 
		font-family 'Abril Fatface'
		position absolute
		left -60%
		top 50%
		transform translateY(-50%)
		text-transform uppercase 
		font-weight 800
		letter-spacing 0.2em
		font-size 0.8em
		opacity 0
		transition all 200ms ease-out
		
.day-active
	.pager 
		opacity 0
		transform translateY(-60%)
		transition all 250ms ease-in